doc/open-api-client/Service References/OpenApiAsyncMessageConsumerServiceReference/OpenApiAsyncMessageConsumerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn://x-artefacts-gnivc-ru/inplat/servin/OpenApiAsyncMessageConsumerService/1.0" xmlns:ns1="urn://x-artefacts-gnivc-ru/inplat/servin/OpenApiAsyncMessageConsumerService/types/1.0" name="OpenApiAsyncMessageConsumerService" targetNamespace="urn://x-artefacts-gnivc-ru/inplat/servin/OpenApiAsyncMessageConsumerService/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="urn://x-artefacts-gnivc-ru/inplat/servin/OpenApiAsyncMessageConsumerService/types/1.0" elementFormDefault="qualified" targetNamespace="urn://x-artefacts-gnivc-ru/inplat/servin/OpenApiAsyncMessageConsumerService/types/1.0" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="MessageNotFoundFault" type="tns:MessageNotFoundFault" />
      <xs:complexType name="MessageNotFoundFault">
        <xs:annotation>
          <xs:documentation>Сообщение не найдено</xs:documentation>
        </xs:annotation>
      </xs:complexType>
      <xs:element name="AuthenticationFault" type="tns:AuthenticationFault" />
      <xs:complexType name="AuthenticationFault">
        <xs:annotation>
          <xs:documentation>Ошибка проверки подлинности</xs:documentation>
        </xs:annotation>
      </xs:complexType>
      <xs:simpleType name="ProcessingStatuses">
        <xs:restriction base="xs:string">
          <xs:enumeration value="PROCESSING" />
          <xs:enumeration value="COMPLETED" />
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="GetMessageRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="MessageId" type="xs:string">
              <xs:annotation>
                <xs:documentation>Идентификатор сообщения</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetMessageResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="ProcessingStatus" type="tns:ProcessingStatuses" />
            <xs:element minOccurs="0" maxOccurs="1" name="Message">
              <xs:complexType>
                <xs:sequence>
                  <xs:any namespace="##other" processContents="skip" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SendMessageRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Message">
              <xs:complexType>
                <xs:sequence>
                  <xs:any namespace="##other" processContents="skip" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SendMessageResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="MessageId" type="xs:string">
              <xs:annotation>
                <xs:documentation>Идентификатор сообщения</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetMessageResponse">
    <wsdl:part name="parameters" element="ns1:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessageRequest">
    <wsdl:part name="parameters" element="ns1:GetMessageRequest" />
  </wsdl:message>
  <wsdl:message name="SendMessageRequest">
    <wsdl:part name="parameters" element="ns1:SendMessageRequest" />
  </wsdl:message>
  <wsdl:message name="SendMessageResponse">
    <wsdl:part name="parameters" element="ns1:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="MessageNotFoundException">
    <wsdl:part name="MessageNotFoundException" element="ns1:MessageNotFoundFault" />
  </wsdl:message>
  <wsdl:message name="AuthenticationException">
    <wsdl:part name="AuthenticationException" element="ns1:AuthenticationFault" />
  </wsdl:message>
  <wsdl:portType name="OpenApiAsyncMessageConsumerServicePortType">
    <wsdl:operation name="GetMessage">
      <wsdl:input name="GetMessageRequest" message="tns:GetMessageRequest" />
      <wsdl:output name="GetMessageResponse" message="tns:GetMessageResponse" />
      <wsdl:fault name="AuthenticationException" message="tns:AuthenticationException" />
      <wsdl:fault name="MessageNotFoundException" message="tns:MessageNotFoundException" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input name="SendMessageRequest" message="tns:SendMessageRequest" />
      <wsdl:output name="SendMessageResponse" message="tns:SendMessageResponse" />
      <wsdl:fault name="AuthenticationException" message="tns:AuthenticationException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OpenApiAsyncMessageConsumerServiceSoapBinding" type="tns:OpenApiAsyncMessageConsumerServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMessage">
      <soap:operation soapAction="urn:GetMessageRequest" style="document" />
      <wsdl:input name="GetMessageRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetMessageResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="MessageNotFoundException">
        <soap:fault use="literal" name="MessageNotFoundException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="urn:SendMessageRequest" style="document" />
      <wsdl:input name="SendMessageRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SendMessageResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OpenApiAsyncMessageConsumerService">
    <wsdl:port name="OpenApiAsyncMessageConsumerServiceEndpoint" binding="tns:OpenApiAsyncMessageConsumerServiceSoapBinding">
      <soap:address location="http://server:port/open-api/system/subsystem/external_system_namespace" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>